<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/bootstrap.min.css')}}" />
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
        crossorigin="anonymous"></script>
    <link href="https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css" rel="stylesheet" />
    <script src="https://unpkg.com/boxicons@2.1.2/dist/boxicons.js')}}"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/CustomScrollbar.css')}}" />
    <link rel="stylesheet" href="{{url_for('static',filename='css/Transferencias.css')}}" />
    <link href="https://fonts.googleapis.com/css2?family=Jost:wght@500&display=swap" rel="stylesheet" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic">
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css?family=Roboto:400,100italic,100,300,300italic,400italic,500,500italic,700,700italic,900,900italic">
    <link rel="shortcut icon" href="{{url_for('static',filename='img/favicon.ico')}}" type="image/x-icon" />
    <title>Phoenix - Transferencias</title>
</head>
<div class="sidebar">
    <div class="logo-details">
        <img class="icon" src="{{url_for('static',filename='/img/favicon-16x16.png')}}" />
        <div class="logo_name">Phoenix</div>
        <i class="bx bx-menu" id="btn"></i>
    </div>
    <ul class="options">
        <li class="option option-active">
            <a href="/dashboard">
                <i class="bx bx-grid-alt"></i>
                <span class="opciones-sidebar">Dashboard</span>
            </a>
            <span class="tooltip">Dashboard</span>
        </li>
        <li class="option">
            <a href="/operaciones">
                <i class="bx bx-world"></i>
                <span class="opciones-sidebar">Operaciones</span>
            </a>
            <span class="tooltip">Operaciones</span>
        </li>
        <li class="option">
            <a href="/transferencias">
                <i class="bx bx-transfer"></i>
                <span class="opciones-sidebar">Transferencias</span>
            </a>
            <span class="tooltip">Transferencias</span>
        </li>
        <li class="option">
            <a href="/recordatorios">
                <i class="bx bx-calendar-edit"></i>
                <span class="opciones-sidebar">Recordatorios</span>
            </a>
            <span class="tooltip">Recordatorios</span>
        </li>
        <li class="option">
            <a href="/cuentas">
                <i class="bx bx-credit-card"></i>
                <span class="opciones-sidebar">Cuentas</span>
            </a>
            <span class="tooltip">Cuentas</span>
        </li>
        <li class="option">
            <a href="/ajustes">
                <i class="bx bx-cog"></i>
                <span class="opciones-sidebar">Ajustes</span>
            </a>
            <span class="tooltip">Ajustes</span>
        </li>
        <li class="profile">
            <div class="profile-details">
                <img src="{{url_for('static',filename='img/user.jpg')}}" alt="profileImg" />
                <div class="name_job">
                    <div class="name">Usuario</div>
                    <div class="job">{{ email }}</div>
                </div>
            </div>
            <a id="log_out" href="{{url_for('logout')}}"><i class='bx bx-log-out'></i></a>
        </li>
    </ul>
</div>
<!--INICIO DE ALERTA-->
<div class="contents">
    <div class="POPUP-alerta">
        {% with msg=get_flashed_messages() %}
        {% if msg %}
        {% for msg in msg %}
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            <strong>¡Hola!</strong> {{ msg }}
            <button type="button" class="close" data-bs-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </div>
    <div class="content">
        <div style="display: flex; align-items: center;">
            <div class="table-transferencias">
                <!--INICIO DE ALERTA DE REGISTROS-->
                {% if data2.0==null %}
                <label style="margin-bottom: 30px;" class="msg">No se han encontrado registros de transferencia</label>
                {% else: %}
                <label class="msg2">Hay registros de transferencia</label>
                {% endif %}
                <!--INICIO DE ALERTA DE REGISTROS-->
                <div class="head">
                    <h3>Historial de Transferencias</h3>
                </div>
                <table>
                    <thead>
                        <tr>
                            <th>Cuenta Orígen</th>
                            <th>Cuenta Destino</th>
                            <th>Descripción</th>
                            <th>Monto</th>
                            <th>Moneda</th>
                            <th>Fecha</th>
                            <th>Extra</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for data2 in data2 %}
                        <tr>
                            <td>{{ data2.11 }}</td>
                            <td>{{ data2.2 }}</td>
                            <td>{{ data2.3 }}</td>
                            <td style="color:#F50808">- {{ data2.4 }}</td>
                            <td style="color:#F50808">{{ data2.17 }}</td>
                            <td>{{ data2.6 }}</td>
                            <td><a class="delete" href="/delete_transferencias/{{ data2.0 }}">Delete</a></td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="card-container">
                <div class="card">
                    <div class="top">
                        <div class="payment">Nueva Transferencia</div>
                    </div>
                    <div class="card-body">
                        <form action="/insert_trans" method="POST">
                            <div class="one">
                                <label for=''>Cuenta Orígen</label>
                                <select name='origen'>
                                    <option value="0">Seleccionar:</option>
                                    {% for data in data %}
                                    <option value="{{ data.0 }}">{{ data.4 }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="two">
                                <label for=''>Cuenta Destino</label>
                                <input maxlength='16' required placeholder='xxxx xxxx xxxx xxxx' type='text' name='destino'
                                    oninput="this.value = this.value.replace(/[^0-9]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0[^.]/, '0');">
                            </div>
                            <div class="three">
                                <label for=''>Monto</label>
                                <input maxlength='20' required placeholder='00.00' type='text' name="monto"
                                    oninput="this.value = this.value.replace(/[^0-9.]/g, '').replace(/(\..*?)\..*/g, '$1').replace(/^0[^.]/, '0');">
                            </div>

                            <div class="four">
                                <label for=''>Fecha de pago</label>
                                <input type="date" required id="fecha-op-modal" name="fecha" min="2022-01-01" max="2022-12-31">
                            </div>
                            <div class="three">
                                <label for=''>Moneda</label>
                                <select name='moneda'>
                                    <option value="0">Seleccionar:</option>
                                    <option value="1">PEN</option>
                                    <option value="2">USD</option>
                                </select>
                            </div>
                            <div class="four">
                                <label for=''>Descripcion</label>
                                <input maxlength='40' required placeholder='Descripcion' type='text' name='descripcion'>
                            </div>

                            <div class="eight">
                                <!--Label en blanco-->
                                <div class="buttons">
                                    <input type='submit' value='Enviar' />
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
<script src="{{url_for('static',filename='js/Sidebar.js')}}"></script>
<script src="{{url_for('static',filename='js/script.js')}}"></script>
</body>

</html>